.wrapper {
  @extend %flex-between;
  cursor: pointer;
  position: relative;

  @include breakpoint(desktop) {
    padding-left: 32px;
  }

  &__header {
    @extend %flex-align;
    padding: 0;
    font-weight: unset;
    border-radius: unset;
    background-color: unset;

    @include breakpoint(desktop) {
      width: 48px;
      height: 48px;
    }

    &:hover {
      background-color: unset;

      .wrapper__header_arrow {
        transform: rotate(180deg);
      }
    }

    &__icon {
      width: 23px;
    }
  }

  &__languages {
    @extend %flex-column;
    @extend %box-shadow;
    top: 69px;
    right: -20px;
    cursor: default;
    height: 95px;
    border: unset;
    z-index: 10;
    position: absolute;
    border-radius: 7px;
    justify-content: space-evenly;
    background-color: $black;

    @include breakpoint(desktop) {
      top: 50px;
      left: 25px;
      width: 100%;
      right: unset;
      max-width: 187px;
      border-radius: 0;
    }

    &__item {
      @extend %flex-align;
      padding: 0 24px;

      svg {
        width: 23px;
      }
    }
  }
}
