.wrapper {
  @extend %flex-between;
  cursor: pointer;
  position: relative;
  @include breakpoint(tablet) {
    padding-left: 32px;
  }

  &__header {
    @extend %flex-align;
    padding: 0;
    font-weight: unset;
    border-radius: unset;
    background-color: unset;

    &:hover {
      background-color: unset;

      .wrapper__header_arrow {
        transform: rotate(180deg);
      }
    }

    &__language {
      width: 23px;
    }
  }

  &__language {
    @extend %flex-column;
    @extend %box-shadow;
    cursor: default;
    background-color: $black;
    height: 95px;
    width: 132px;
    justify-content: space-evenly;
    position: absolute;
    z-index: 10;
    top: 69px;
    right: -40px;
    border: unset;
    border-radius: 7px;

    @include breakpoint(tablet) {
      right: unset;
      left: 25px;
      top: 50px;
    }

    &__item {
      @extend %flex-between;
      margin: 0 24px;

      svg {
        width: 23px;
      }

      &__text {
        @extend %language_sizes;
        color: $dark-white;

        &_active {
          color: $white;
        }
      }
    }
  }
}
