.wrapper {
  @extend %border-rad_10;
  @extend %box-shadow;
  padding: 16px 16px 28px 16px;
  background-color: $light-black;

  @include breakpoint(tablet-m) {
    height: 289px;
    padding: 16px 16px 19px 16px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__film {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    background-color: $black;
    @extend %skeleton-animation;

    @include breakpoint(tablet-m) {
      height: 128px;
    }

    &__time {
      width: 70px;
      padding: 5px 16px;
      background-color: $grey;
      @extend %border-rad_10;
      @extend %flex-center;
      position: absolute;
      bottom: 16px;
      left: 16px;
      z-index: 2;

      @include breakpoint(tablet-m) {
        bottom: 3px;
        left: 8px;
      }
      p {
        height: 22px;
      }
    }
  }

  &__other {
    @extend %flex-between;
    margin-bottom: 8px;

    &_name {
      width: 150px;

      p {
        height: 24px;
        @extend %skeleton-animation;

        width: 100%;

        @include breakpoint(tablet-m) {
          height: 22px;
        }
      }
    }

    &__dw_date {
      width: 72px;
      p {
        height: 22px;
        @extend %skeleton-animation;

        @include breakpoint(tablet-m) {
          height: 17px;
        }
      }
    }
  }

  &__pr_description {
    width: 200px;
    height: 44px;
    margin-bottom: 28px;

    @include breakpoint(tablet-m) {
      margin-bottom: 12px;
    }

    p {
      @extend %skeleton-animation;
      height: 22px;
    }
    @include breakpoint(tablet-m) {
      height: 17px;
    }
  }

  &__card_footer {
    @extend %flex-align;

    &_item {
      @extend %film_name;
      @extend %flex-align;
      width: 100%;
      margin-right: 24px;

      @include breakpoint(tablet-m) {
        margin-right: 20px;
      }

      p {
        @extend %skeleton-animation;
        width: 100%;
        height: 24px;
        margin-right: 16px;
      }
    }
  }
}
