.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 90px;
  background-color: $black;
  box-shadow: $header-box-shadow;

  &__content {
    @extend %flex-between;
    position: relative;
    height: 100%;

    &__container {
      display: none;
      @extend %flex-between;

      @include breakpoint(desktop) {
        display: flex;
        max-width: 48px;
        width: 100%;
      }
    }

    &_logo {
      max-width: 153px;
      width: 100%;
      height: 37px;
      visibility: visible;
      opacity: 1;
      transition: all 0.5s;

      &_hidden {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }
    }

    &_menu {
      @extend %flex-between;
      max-width: 530px;
      width: 100%;
      position: relative;
      visibility: visible;
      opacity: 1;
      transition: all 0.5s;

      &_hidden {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }

      @include breakpoint(desktop) {
        display: none !important;
      }

      @include breakpoint(wide) {
        margin: 0 40px;
      }

      &__link {
        @extend %film_info_text;
        @extend %flex-align;
        color: $white;
        transform: scale(1);
        text-align: center;
        padding: 0 4px;

        @include breakpoint(tablet) {
          width: 100%;
          padding-left: 32px;
        }

        &_active {
          transform: scale(1.2);
          color: $red;
        }
      }
    }

    &__filter_icon {
      display: none;
      width: 48px !important;
      height: 48px !important;
      padding: 12px;
      position: absolute;
      top: 100px;
      z-index: 4;
      right: 16px;
      cursor: pointer;

      @include breakpoint(desktop) {
        display: block;
      }

      svg {
        width: 24px !important;
        height: 24px !important;
      }
    }

    &__other {
      @extend %flex-between;
      max-width: 210px;
      width: 100%;
      position: relative;

      @include breakpoint(desktop) {
        display: none;
      }

      &__link {
        @extend %flex-center;
      }

      &__empty__block {
        width: 24px;
      }

      &__skeleton {
        width: 24px;
        height: 0;
        background-color: transparent;
        color: transparent;
      }

      &__sign_in {
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
      }
    }

    &__burger_btn {
      @extend %flex-center;
      display: none;
      width: 48px !important;
      height: 48px !important;
      padding: 0;
      background: transparent !important;
      margin-right: 12px;

      @include breakpoint(desktop) {
        display: flex;
      }

      svg {
        path {
          fill: $red;
        }
      }
    }

    &__burger_icon {
      width: 48px !important;
      height: 48px !important;
      padding: 2px 8px;
    }

    &__close_icon {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 16px;
      padding: 12px;
      width: 46px;
      height: 46px;
      z-index: 10;

      @include breakpoint(tablet) {
        right: 15px;
        top: 12px;
      }
    }

    &__burger {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      transform-origin: right;
      transition: all 0.3s;
      transform: scaleX(0);
      backdrop-filter: blur(0);

      @include breakpoint(desktop) {
        display: block;
      }

      &_anima {
        transform: scaleX(1);
        backdrop-filter: blur(2);
        transition: all 0.3s;
      }

      &__container {
        @include custom-scroll;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        max-width: 80%;
        width: 100%;
        height: 100vh;
        @extend %burger-box-shadow;
        background-color: $light-black;
        display: flex;
        flex-direction: column;

        &__nav {
          @extend %flex-column;
          margin-top: 48px;

          &__items {
            @extend %flex-align;
            @extend %film_name;
            padding-left: 32px;
            max-width: 250px;
            width: 100%;
            height: 50px;

            &_active {
              color: $red;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
  &__active_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 4;
    background-color: $rgba-black;
  }
}
