.wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 90px;
  background-color: $rgba-black;
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: $header-box-shadow;

  &__content {
    @extend %flex-between;
    position: relative;
    height: 100%;

    &__userSettings{
      padding-left: 32px;
      max-width: 250px;
      height: 50px;
      @extend %flex-align;
      cursor: pointer;

      &__typo{
        color: $dark-white;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
      }
    }

    &__absolute{
      position: absolute;
      bottom: 20px;
      width: 100%;
    }

    &__container {
      display: none;
      @extend %flex-between;

      @include breakpoint(desktop) {
        display: flex;
        max-width: 48px;
        width: 100%;
      }
    }

    &__user_icon {
      cursor: pointer;
    }

    &_logo {
      max-width: 153px;
      width: 100%;
      height: 37px;
      visibility: visible;
      opacity: 1;
      transition: all 0.5s;

      &_hidden {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }
    }

    &_menu {
      @extend %flex-between;
      max-width: 530px;
      width: 100%;
      visibility: visible;
      opacity: 1;
      transition: all 0.5s;

      @include breakpoint(wide){
        max-width: 500px;
      }

      &_hidden {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
      }

      @include breakpoint(desktop) {
        display: none !important;
      }

      @include breakpoint(wide) {
        margin: 0 40px;
      }

      &__icon {
        display: none;
        width: 32px;

        @include breakpoint(desktop) {
          display: block;
          transform: rotate(90deg);
          margin-left: 12px;
          transition: all 0.3s;
        }

        &__rotate {
          transform: rotate(270deg) !important;
          transition: all 0.3s;
        }
      }

      &__link {
        @extend %film_info_text;
        @extend %flex-align;
        color: $gray;
        cursor: pointer;
        transform: scale(1);
        text-align: center;
        padding: 10px 4px;

        @include breakpoint(wide){
          font-size: 18px;
        }

        &__typo{
          font-size: 18px;
          color: $gray;
        }

        @include breakpoint(desktop) {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          max-width: 250px;
          width: 100%;
          height: 48px;
          padding: 0;
        }

        &_active {
         p{
            color: $red !important;
          }

          @include breakpoint(desktop) {
            font-weight: bolder;
          }
        }
      }

      &__category {
        @extend %flex-between;
        min-height: 90px;

        @include breakpoint(desktop) {
          flex-direction: column;
          justify-content: unset;
          align-items: flex-start;
          margin-left: 32px;
          min-height: unset;
        }

        &:hover > .sub_category {
          transition: all 0.4s;
          opacity: 1 !important;
        }

        &__child {
          @extend %flex-between;
          cursor: pointer;
        }
      }
    }

    &__filter_icon {
      display: none;
      width: 48px !important;
      height: 48px !important;
      padding: 12px;
      position: absolute;
      top: 100px;
      z-index: 4;
      right: 16px;
      cursor: pointer;

      @include breakpoint(desktop) {
        display: block;
      }

      svg {
        width: 24px !important;
        height: 24px !important;
      }
    }

    &__other {
      @extend %flex-between;
      max-width: 112px;
      width: 100%;
      position: relative;

      @include breakpoint(desktop) {
        display: none;
      }

      &__link {
        @extend %flex-center;
      }

      &__wishlist {
        cursor: pointer;
      }

      &__empty__block {
        width: 24px;
      }

      &__skeleton {
        width: 24px;
        height: 0;
        background-color: transparent;
        color: transparent;
      }

      &__sign_in {
        width: 24px;
        height: 24px;
        padding: 0;
        background-color: transparent;
      }
    }

    &__burger_btn {
      @extend %flex-center;
      display: none;
      width: 48px !important;
      height: 48px !important;
      padding: 0;
      background: transparent !important;
      margin-right: 12px;

      @include breakpoint(desktop) {
        display: flex;
      }

      svg {
        path {
          fill: $red;
        }
      }
    }

    &__burger_icon {
      width: 48px !important;
      height: 48px !important;
      padding: 2px 8px;
    }

    &__close_icon {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 16px;
      padding: 12px;
      width: 46px;
      height: 46px;
      z-index: 10;

      @include breakpoint(tablet) {
        right: 15px;
        top: 12px;
      }
    }

    &__burger {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      transform-origin: right;
      transition: all 0.3s;
      transform: scaleX(0);
      backdrop-filter: blur(0);

      @include breakpoint(desktop) {
        display: block;
      }

      &_anima {
        transform: scaleX(1);
        backdrop-filter: blur(2);
        transition: all 0.3s;
      }

      &__container {
        @include custom-scroll;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        max-width: 80%;
        min-height: 100vh;
        @extend %burger-box-shadow;
        background-color: $light-black;
        display: flex;
        flex-direction: column;

        &__nav {
          @extend %flex-column;
          margin-top: 60px;

          &__items {
            @extend %flex-align;
            @extend %film_name;
            padding-left: 32px;
            max-width: 250px;
            width: 100%;
            color: $gray;
            font-size: 18px;
            height: 50px;

            &__typography{
              color: $gray;
              cursor: pointer;
          }

            &__typo{
              color: $gray;
              cursor: pointer;
            }

            &_active {
              p{
                color: $red !important;
                font-weight: bolder;
              }
            }
          }
        }
      }
    }
  }
  &__active_bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    height: 100%;
    z-index: 4;
    background-color: $rgba-black;
  }

  &__unactive_bg{
    background-color: unset !important;
  }

  &__popup {
    padding: 0 24px;

    &__text {
      font-family: 'Montserrat';
      font-size: 22px;
      line-height: 28px;
      color: $light-black;

      @include breakpoint(tablet-m) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &__link {
      font-family: 'Montserrat';
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;
      cursor: pointer;
      color: $success;
      margin-left: 12px;

      @include breakpoint(tablet-m) {
        font-size: 18px;
        line-height: 24px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__bottom_column {
      margin-top: 12px;
      display: flex;
    }
  }
}

.sub_category {
  @extend %flex-between;
  opacity: 0;

  &__mobile {
    @include breakpoint(desktop) {
      display: flex !important;
      flex-direction: column;
      margin: 16px 0;
    }
  }
}
