.wrapper {
  height: 90px;
  background-color: $black;

  &__content {
    @extend %flex-between;
    height: 100%;

    &_logo {
      max-width: 153px;
      width: 100%;
      height: 37px;
    }

    &_menu {
      max-width: 466px;
      width: 100%;
      @extend %flex-between;
      position: relative;
      transition: all 0.3s;

      @include breakpoint(tablet) {
        display: none;
      }

      @include breakpoint(wide) {
        margin: 0 15px;
      }

      &__link {
        @extend %film_info_text;
        @extend %flex-align;
        color: $white;
        transform: scale(1);

        @include breakpoint(tablet) {
          width: 100%;
          padding-left: 32px;
        }

        &_active {
          transform: scale(1.2);
          color: $red;
        }
      }
    }

    &__other {
      @extend %flex-between;
      max-width: 413px;
      width: 100%;

      @include breakpoint(tablet) {
        display: none;
      }

      &__search {
        @extend %search-styling;
        border-radius: 50px !important;
        max-width: 270px;
        width: 100%;
        color: $red !important;
        padding: 8px 37px 8px 24px !important;
        border: 1px solid $white;
        background-color: transparent;
      }

      &__right_icon {
        width: 20px;
        height: 20px;
      }

      &__wishlist {
        @include breakpoint(wide) {
          margin: 0 10px;
        }
      }
    }

    &__close {
      width: 48px !important;
      height: 48px !important;
      z-index: 9 !important;
      background-color: transparent !important;

      svg {
        path {
          fill: $red;
        }
      }
    }

    &__burger {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      transform-origin: right;
      transition: transform 0.3s ease-out;

      @include breakpoint(tablet) {
        display: block;
      }

      @include breakpoint(tablet-m) {
        display: block;
      }

      @include breakpoint(mobile-m) {
        display: block;
      }

      @include breakpoint(mobile) {
        display: block;
      }

      &__container {
        @include custom-scroll;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 5;
        max-width: 80%;
        width: 100%;
        height: 100vh;
        @extend %burger-box-shadow;
        background-color: $light-black;
        display: flex;
        flex-direction: column;

        &__nav {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          margin-top: 48px;

          &__items {
            padding-left: 32px;
            width: 100%;
            height: 50px;
            @extend %flex-align;
            @extend %burger-fonts;

            &_active {
              color: $red;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}
