.container {
  @extend %border-rad_10;
  @extend %box-shadow;
  width: 100%;
  height: 207px;
  padding: 16px;
  min-width: 207px;
  max-width: 207px;
  margin-right: 20px;
  background-color: $light-black;

  @include breakpoint(tablet) {
    margin-right: 0;
  }

  &__content {
    max-width: 175px;
    width: 100%;
    height: 145px;
    background-color: $dark-white;
  }

  &__name {
    @extend %film_name;
    margin-top: 10px;
    user-select: text;
    cursor: text;
  }
}
