.container {
  min-width: 207px;
  max-width: 207px;
  width: 100%;
  height: 207px;
  margin-bottom: 10px;
  padding: 16px;
  background-color: $black;
  @extend %box-shadow;
  @extend %border-rad_10;

  &__content {
    max-width: 175px;
    width: 100%;
    height: 145px;
    background-color: $dark-white;
  }

  &__name {
    @extend %film_name;
    margin-top: 10px;
    user-select: text;
    cursor: text;
  }
}
