.error{
  width: 100%;
  min-height: 100vh;
  &__container{
    @extend %flex-center;
    flex-direction: column;
    height: 100%;
    &__title{
      font-size: 170px;
      font-weight: 400;
      text-align: center;
      color: $white;
      padding: 100px 0;

      @include breakpoint(tablet){
        font-size: 130px;
      }
    }

    &__description{
      text-align: center;
      font-weight: 500;
      padding: 16px 0 30px;
      font-size: 20px;
      color: $dark-white;
    }

    &__route{
      border: none;
      padding: 13px 35px;
      background-color: $dark-red;
      color: $white;
      font-weight: 500;
      border-radius: 8px;
      font-size: 24px;
    }
  }
}