.wrapper {
  margin-top: 20px;

  &__options {
    @extend %flex-between;
    margin-bottom: 16px;
  }

  &__title_block {
    @extend %flex-between;
    margin-bottom: 16px;

    &__name {
      @extend %separate_page_film_name;
      margin-bottom: 16px;

      @include breakpoint(desktop) {
        font-size: 24px;
      }
    }

    &__heart_like {
      width: 24px;
      height: 24px;
      cursor: pointer;

      path {
        &:first-child {
          fill: $red;
        }
      }

      path {
        &:last-child {
          animation: animationAllBackground 0.5s forwards;
        }
      }
    }

    &__heart_dislike {
      path {
        &:first-child {
          fill: $red !important;
        }
      }

      path {
        &:last-child {
          animation: animationAllBackgroundDisabled 0.5s forwards;
        }
      }
    }
  }

  &__date {
    color: $red;
    margin-bottom: 16px;
    @extend %film_info_text;
  }

  &__description {
    min-height: 110px;
    margin-bottom: 24px;
    @extend %film_info_text;

    @include breakpoint(desktop) {
      font-size: 18px;
    }
  }

  &__views_liked {
    gap: 20px;
    @extend %flex-align;
    @extend %film_name;

    &__like {
      @extend %flex-between;
      max-width: 60px;
      width: 100%;

      svg {
        margin-left: 16px;
      }
    }

    &__view {
      @extend %flex-between;
      max-width: 60px;
      width: 100%;

      svg {
        margin-left: 16px;
      }
    }
  }
}

@keyframes animationAllBackground {
  0% {
    fill: transparent;
  }

  100% {
    fill: $red;
  }
}

@keyframes animationAllBackgroundDisabled {
  0% {
    fill: $red;
  }

  100% {
    fill: transparent;
  }
}
