.container {
  &_active {
    font-weight: unset;
    font-size: unset;
    animation: activePage 0.35s forwards;
  }
}

@keyframes activePage {
  0% {
    font-weight: unset;
    font-size: unset;
  }
  100% {
    font-size: 18px;
    font-weight: 900;
  }
}
