.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;

  @include breakpoint(desktop) {
    padding: 0 16px;
  }
}

.project_body {
  min-height: calc(100vh - 180px);
  padding: 40px 50px 76px;
  position: relative;

  @include breakpoint(desktop) {
    padding: 40px 16px 76px;
  }
}

.text_center {
  @extend %text_center;
}

.text_justify {
  @extend %text_justify;
}

.text_left {
  @extend %text_left;
}

.text_right {
  @extend %text_right;
}

.heading_extra {
  @extend %heading_extra;
}

.heading_large {
  @extend %heading_large;
}

.heading_medium {
  @extend %heading_medium;
}

.heading_small {
  @extend %heading_small;
}

.text_regular {
  @extend %text_regular;
}

.text_small {
  @extend %text_small;
}

.text_medium {
  @extend %text_medium;
}

.text_semibold {
  @extend %text_semibold;
}

.button_medium {
  @extend %button_medium;
}

.button_small {
  @extend %button_small;
}

.link_medium {
  @extend %link_medium;
}

.link_small {
  @extend %link_small;
}

.emoji-mart {
  svg {
    fill: rgba($black, 0.7);
  }

  &-category-label {
    background-color: transparent !important;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      backdrop-filter: brightness(0);
    }

    span {
      color: $white !important;
      z-index: 999999;
      position: relative;
      padding-bottom: 5px;
      background-color: transparent !important;
      text-shadow: 1px 1px 2px $red, 0 0 1em $red, 0 0 0.2em $red;
    }
  }

  &-preview-data div {
    @extend %text-elypsis;
    display: flex;
  }

  &-emoji,
  span {
    color: $white;
    cursor: pointer !important;
  }

  &-search {
    margin-top: 15px;

    &-icon {
      top: 11px;
      right: 20px;
    }

    input {
      background-color: rgba($white, 0.1) !important;
      padding: 10px 15px !important;
      padding-right: 35px !important;
    }
  }

  &-bar {
    border: none;
  }

  &-anchor {
    padding-bottom: 8px;

    &-bar {
      background-color: $white !important;
    }
  }

  &-dark {
    border: none;
    border-radius: 12px;
    backdrop-filter: blur(32px);
    max-width: 280px !important;
    background-color: transparent;
    box-shadow: rgb($red, 0.25) -2px 20px 100px -20px,
      inset rgb($red, 0.3) -1px 20px 20px 20px,
      rgb($red, 0.35) 1px 0px 17px 20px inset;
  }

  &-scroll {
    @include custom-scroll;
  }
}
