%text_center {
  text-align: center;
}

%text_justify {
  text-align: justify;
}

%text_left {
  text-align: left;
}

%text_right {
  text-align: right;
}

%box-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

%burger-box-shadow {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

%border-rad_10 {
  border-radius: 10px;
}

%border-top-rad_10 {
  border-radius: 10px 10px 0 0;
}

%border-bottom-rad_10 {
  border-radius: 0 0 10px 10px;
}

%border-rad_8 {
  border-radius: 8px;
}

%border-top-rad_8 {
  border-radius: 8px 8px 0 0;
}

%border-bottom-rad_8 {
  border-radius: 0 0 8px 8px;
}

%heading_extra {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: red;
}

%heading_large {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: $white;
}

%heading_medium {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $white;
}

%heading_small {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $white;
}

%burger-fonts {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

%text_regular {
  font-size: 16px;
  line-height: 24px;
  color: $white;
}

%text_semibold {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: $white;
}

%text_small {
  font-size: 12px;
  line-height: 16px;
  color: $white;
}

%text_medium {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

%button_medium {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

%button_small {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $white;
}

%button_small {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: gray;
}

%link_small {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
}

%link_medium {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

%project_title {
  font-size: 64px;
  line-height: 78px;
}

%film_name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

%language_sizes {
  font-size: 20px;
  line-height: 24px;
}

%film_info_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

%film_date {
  font-size: 18px;
  line-height: 22px;
  color: $red;
}

%separate_page_film_name {
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
}

%button-styles {
  background-color: $light-black;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid $dark-white;
  box-sizing: border-box;
  border-radius: 48px;
}

%footer_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

%search-styling {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
