// media queries vars
$mobile-m: 375px;
$mobile-l: 520px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-custom: 820px;
$tablet-l: 992px;
$desktop: 1024px;
$wide-s: 1100px;
$wide: 1200px;
$wide-l: 1440px;

//Font Families
$montserrat_family: 'Montserrat', sans-serif;

// @extends
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-start{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flex-align {
  display: flex;
  align-items: center;
}

%flex-justify-center {
  display: flex;
  justify-content: center;
}

%flex-justify-between {
  display: flex;
  justify-content: space-between;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-center-direction {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

%text-elypsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

%input-margin {
  margin: {
    top: 6px;
    bottom: 20px;
  }
}

%subCategoryIcon {
  @extend %flex-align;
  transform: scale(1);
  transition: all 0.3s;
  cursor: pointer;
}

$boxShadow: 0 0 8px #99080f;
