.wrapper {
  @extend %border-rad_10;
  @extend %box-shadow;
  padding: 16px 16px 28px 16px;
  min-width: 433px;
  max-width: 433px;
  width: 100%;
  height: 386px;
  margin-right: 25px;
  background-color: $light-black;

  @include breakpoint(tablet) {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0;
  }

  @include breakpoint(tablet-m) {
    height: auto;
    padding: 16px 16px 19px 16px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__video {
    height: 200px;

    @include breakpoint(tablet-m) {
      height: 128px;
    }
  }

  &__film {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    background-color: $dark-white;

    @include breakpoint(tablet-m) {
      height: 50vw;
    }

    &_not_like_it {
      padding: unset;
      background-color: unset;
      position: absolute;
      top: 12px;
      right: 12px;
      height: 24px;
      max-width: unset;
      width: unset;
      z-index: 2;

      svg {
        path {
          &:first-child {
            fill: $red;
          }
        }

        path {
          &:last-child {
            animation: animationAllBackgroundDisabled 0.5s forwards;
          }
        }
      }

      &:hover {
        background-color: unset;
      }
    }

    &_like_it {
      padding: unset;
      background-color: unset;
      position: absolute;
      top: 12px;
      right: 12px;
      height: 24px;
      max-width: unset;
      width: unset;
      z-index: 2;

      svg {
        path {
          &:first-child {
            fill: $red;
          }
        }

        path {
          &:last-child {
            animation: animationAllBackground 0.5s forwards;
          }
        }
      }

      &:hover {
        background-color: unset;
      }
    }

    &__time {
      padding: 5px 16px;
      background-color: $grey;
      @extend %border-rad_10;
      @extend %flex-center;
      @extend %film_info_text;
      position: absolute;
      bottom: 16px;
      left: 16px;
      z-index: 2;

      @include breakpoint(tablet-m) {
        bottom: 3px;
        left: 8px;
      }
    }
  }

  &__other {
    @extend %flex-between;
    margin-bottom: 8px;

    &_name {
      @extend %film_name;
      @extend %text-elypsis;
      max-width: 150px;
      width: 100%;
      cursor: text;
      user-select: text;
      text-transform: capitalize;
      transition: color ease-in-out 0.2s;

      &:hover {
        color: $red;
      }

      @include breakpoint(tablet-m) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__dw_date {
      @extend %film_info_text;
      @extend %film_date;

      @include breakpoint(tablet-m) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__pr_description {
    @extend %film_info_text;
    @extend %text-elypsis;
    cursor: text;
    width: 200px;
    height: 44px;
    margin-bottom: 28px;
    user-select: text;

    @include breakpoint(tablet-m) {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 12px;
    }
  }

  &__card_footer {
    @extend %flex-align;

    &_item {
      @extend %film_name;
      @extend %flex-align;
      margin-right: 24px;

      @include breakpoint(tablet-m) {
        margin-right: 20px;
      }

      p {
        margin-right: 16px;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

@keyframes animationAllBackground {
  0% {
    fill: transparent;
  }

  100% {
    fill: $red;
  }
}

@keyframes animationAllBackgroundDisabled {
  0% {
    fill: $red;
  }

  100% {
    fill: transparent;
  }
}
