.wrapper {
  @extend %flex-justify-between;

  &__content {
    max-width: 100%;
    width: 100%;
    margin-right: 20px;

    & > section:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(desktop) {
      max-width: 100%;
    }

    @include breakpoint(tablet) {
      margin-right: 0;
    }

    &__one_section {
      max-width: 100%;
      width: 100%;
      margin-bottom: 40px;

      @include breakpoint(tablet) {
        height: auto;
      }

      @include breakpoint(tablet-m) {
        margin-bottom: 24px;
      }
    }

    &__two_section {
      max-width: 100%;
      width: 100%;
      margin-bottom: 40px;

      &_slider {
        height: 207px !important;
      }
    }

    &__title {
      @extend %project_title;
      color: $white;
      margin-bottom: 24px;

      @include breakpoint(tablet) {
        font-size: 32px;
        line-height: 39px;
      }

      @include breakpoint(tablet-m) {
        margin-bottom: 8px;
      }
    }
  }
}

.filter_block {
  position: sticky;
  top: 130px;
  min-width: 320px;
  width: 100%;
  min-height: 176px;
  height: 100%;

  @include breakpoint(desktop) {
    display: none;
  }
}
