.wrapper {
  opacity: 0;
  transition: all 0.4s;
  position: absolute;
  z-index: 10;
  top: 75px;
  left: -44px;
  right: -44px;
  padding: 0 50px;
  height: 60px;
  background-color: $black;
  box-shadow: $header-box-shadow;


  @include breakpoint(desktop) {
    position: static;
    height: auto;
    opacity: 1;
    display: none;
    padding: 0;
  }

  &__content {
    padding: 16px 0;
    overflow: hidden;
    width: 100%;
    overflow-x: scroll !important;

    &::-webkit-scrollbar {
      display: none !important;
    }

    @include breakpoint(desktop) {
      overflow: visible;
      padding: 0;
    }

    &__inner {
      transition: 350ms ease-out;
      text-align: center;

      &::-webkit-scrollbar {
        display: none;
      }

      @include breakpoint(desktop) {
        flex-direction: column !important;
      }
    }

    &__item {
      @extend %film_name;
      color: $dark-white;
      white-space: nowrap;
      margin-right: 32px;
      display: inline;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      &:last-child {
        margin: 0;
      }

      @include breakpoint(desktop) {
        padding: 12px 16px;
        min-width: 187px;
        width: 100%;
        margin: 0;
        display: block;
      }

      &__active {
        color: $red;
      }
    }
  }

  &__left_icon {
    @extend %subCategoryIcon;
    margin-right: 36px;
    z-index: 999;

    svg {
      transform: rotate(180deg);
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__right_icon {
    @extend %subCategoryIcon;
    z-index: 12;
    position: static;
    margin-left: 36px;

    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__icon_hidden {
    transform: scale(0);
  }
}
