.container {
  @extend %flex-center-direction;
  max-width: 376px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint(tablet-m) {
    padding-top: 80px;
  }

  &__cancel {
    position: absolute;
    top: 70px;
    right: 2vh;
    max-width: 170px;
    width: 100%;
    padding: 0;
    background-color: transparent;
  }

  &__top {
    @extend %flex-center;
    flex-direction: column;

    &_img {
      width: 122px;
      height: 82px;
    }

    &__title {
      color: $white;
      margin: {
        top: 54px;
        bottom: 24px;
      }

      @include breakpoint(tablet) {
        margin-top: 40px;
      }
    }
  }

  &__forgot {
    width: 134px;
    color: #5b708f;
    font-weight: 700;
    margin: 35px auto;
    display: block;

    &_text {
      @extend %flex-justify-center;
      width: 100%;
      color: #5b708f;
      font-weight: 700;
      margin: 0 auto;
    }
  }

  &__registration {
    &__block {
      min-height: 84px;
      @extend %text_small;
      font-weight: 600;
      margin-bottom: 6px;

      &__input {
        padding: 0;

        &__inp {
          padding: 14px 16px;
          border: 1px solid $white;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: transparent;
          color: $white;
        }
      }
    }
  }
}
