.search {
  @extend %search-styling;
  width: 100%;
  color: $red !important;
  border: 1px solid $white;
  padding: 8px 37px 8px 24px !important;
  max-width: 700px;
  border-radius: 50px !important;
  background-color: transparent;

  @include breakpoint(desktop) {
    max-width: calc((100vw - 115px));
  }
}

.wrapper {
  position: absolute;
  left: calc(100% - 170px);
  right: 170px;
  background-color: $black;
  transition: 0.2s all ease;
  top: 80px;


  @include breakpoint(desktop) {
    right: 72px;
  }

  @include breakpoint(tablet) {
    right: 48px;
    left: calc(100vw - 96px);
  }

  &_expanded {
    left: 70%;
    transition: 0.1s all ease;

    @include breakpoint(desktop) {
      left: 84px;
    }

    @include breakpoint(tablet) {
      left: 62px;
    }
  }

  //&__withToken{
  //  left: calc(100% - 240px);
  //  right: 240px;
  //
  //  @include breakpoint(desktop) {
  //    left: 84px;
  //  }
  //
  //  @include breakpoint(tablet) {
  //    left: 62px;
  //  }
  //
  //  &__expanded{
  //    left: calc(100% - 390px);
  //    right: 390px;
  //  }
  //}


  &__container {
    &__back {
      left: 0;
      width: 50px !important;
      opacity: 0;
      display: none;
      position: absolute;
      visibility: hidden;
      transition: all 0.2s;
      transform: rotate(180deg);

      @include breakpoint(desktop) {
        display: block;
      }

      &_expand {
        opacity: 1;
        cursor: pointer;
        visibility: visible;
        transition: all 0.3s;
      }
    }

    &__search {
      @extend %search-styling;
      width: 100%;
      color: $red !important;
      border: 1px solid transparent;
      opacity: 0;
      padding: 0 !important;
      max-width: 24px;
      visibility: hidden;
      transition: 0.2s all ease;
      caret-color: transparent;
      border-radius: 16px !important;
      background-color: transparent;

      //&_with_token{
      //
      //  @include breakpoint(desktop) {
      //    padding-right: 66px;
      //  }
      //
      //  @include breakpoint(tablet) {
      //    padding: 12px 48px 12px 16px !important;
      //    max-width: calc((100vw - 110px));
      //  }
      //
      //  &:hover {
      //    border-color: $red !important;
      //  }
      //
      //  &:focus {
      //    border-color: $red !important;
      //  }
      //}

      &:hover {
        border-color: transparent !important;
      }

      &:focus {
        border-color: transparent !important;
      }

      &_expanded {
        border: 1px solid $white;
        opacity: 1;
        padding: 13px 58px 13px 24px !important;
        max-width: 130%;
        visibility: visible;
        transition: 0.2s all ease;
        caret-color: $red;

        @include breakpoint(desktop) {
          padding-right: 66px;
        }

        @include breakpoint(tablet) {
          padding: 12px 48px 12px 16px !important;
          max-width: calc((100vw - 110px));
        }

        &:hover {
          border-color: $red !important;
        }

        &:focus {
          border-color: $red !important;
        }
      }
    }

    &__right_icon {
      right: 16px;
      width: 24px;
      cursor: pointer !important;
      height: 24px;
      background-color: $black;
    }
  }
}
