.search {
  @extend %search-styling;
  border-radius: 50px !important;
  max-width: 270px;
  width: 100%;
  color: $red !important;
  padding: 8px 37px 8px 24px !important;
  border: 1px solid $white;
  background-color: transparent;
}

.right_icon {
  width: 20px;
  height: 20px;
}
