.wrapper {
  background-color: $black;
  @extend %flex-center;
  height: 90px;
  box-shadow: $footer-box-shadow !important;

  &_content {
    @extend %flex-center;

    &__text {
      @extend %footer_text;
      text-align: center;
    }
  }
}
