.container {
  margin-top: 50px 0 0 50px;

  &__list {
    color: $grey_color;
    margin-right: 8px;
    padding: 6px 10px;
    @extend %brd-rad_8;
    background: $white;
    border: 1px solid #e6e6e6;
  }
  &__inner {
    display: flex;
  }

  &_active {
    border: 1px solid $red;
    @extend %brd-rad_8;

    &__link {
      color: $red !important;
    }
  }

  &__link {
    color: $grey_color;
  }
}
