.wrapper {
  display: none;
  position: fixed;
  background-color: $black;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 100vw;
  right: 0;
  bottom: 0;
  z-index: 10;
  transition: all 0.3s;

  @include breakpoint(desktop) {
    display: block;
  }

  &_open {
    left: 0;
    z-index: 10;
    transition: all 0.3s;
  }

  &__top_block {
    @extend %flex-between;
    padding: 16px 8px 16px 24px;

    &__text {
      @extend %language_sizes;
    }
  }

  &__close {
    height: 48px;
    width: 48px;
    padding: 6px;
    cursor: pointer;
  }

  &__content {
    @extend %flex-align;
    flex-direction: column;
    padding: 24px 24px;
    height: calc(100% - 80px);
    overflow-y: auto;

    @include breakpoint(tablet-m) {
      padding: 24px 16px;
    }

    &__btn {
      margin-top: 48px;
      background: $dark-red;
      padding: 20px 0;

      @include breakpoint(tablet-m) {
        margin-top: 80px;
      }
    }
  }
}
