.wrapper{
  z-index: 40;
  position: relative;

  &__open {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
}

.container{
  @extend %flex-center;
  padding: 8px 0;
  cursor: pointer;

  &__user_icon{
    width: 24px;
    height: 24px;
  }
}

.content {
  @extend %flex-align;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  min-width: 143px;
  visibility: hidden;
  background: $black;
  padding: 11px 0 20px;
  box-sizing: border-box;
  border-radius: 0 0 8px 8px;
  border: 1px solid $dark-red;

  &__open {
    visibility: visible;
    transition: all 0.4s ease;
  }

  &__list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0 18px 0 12px;

    &__link {
      color: $white;
      padding: 5px 0;

      &__text {
        color: $white;
        font-size: 16px;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
          text-shadow: -1px 1px 1px $black;
        }
      }
    }
  }
}
