.wrapper {
  @extend %box-shadow;
  @extend %border-rad_10;
  position: relative;
  height: 80px;
  overflow: hidden;
  padding: 28px 24px;
  width: 100%;
  transition: all 0.3s ease-in;
  background-color: $light-black;

  &__active {
    height: 543px;
  }
}

.header {
  @extend %flex-between;
  cursor: pointer;

  svg {
    transition: all 0.3s;

    path {
      fill: $red;
    }
  }

  &__text {
    @extend %film_name;
  }
}

.content {
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0 24px;
  position: absolute;
  margin-top: 16px;
  height: 380px;
  background-color: $light-black;
  @extend %border-bottom-rad_10;
}
