.container {
  @extend %flex-center-direction;
  max-width: 376px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  &__top {
    @extend %flex-center;
    flex-direction: column;

    &_img {
      width: 122px;
      height: 82px;
    }

    &__title {
      color: $white;
      margin: {
        top: 54px;
        bottom: 20px;
      }

      @include breakpoint(tablet) {
        margin-top: 40px;
      }
    }
  }
}