.wrapper {
  @extend %flex-center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  visibility: hidden;
  background-color: $dark-grey;

  &__open {
    visibility: visible;
  }

  &__content {
    width: 100%;
    max-width: 409px;
    padding: 36px 0;
    position: relative;
    border-radius: 13px;
    @extend %flex-center;
    flex-direction: column;
    background-color: $black;
    box-shadow: $red 0px 0px 6px;

    @include breakpoint(tablet) {
      max-width: 369px;
    }

    @include breakpoint(tablet-m) {
      max-width: 309px;
    }

    &__form {
      flex-direction: column;
    }

    &__input {
      border: none;
      border-bottom: 1px solid #ffffff;
      color: $white;
      font-size: 20px;
      font-weight: 500;
      background: transparent;

      &:focus {
        border-bottom: 1px solid $white !important;
      }

      &:hover {
        border-bottom: 1px solid $white !important;
      }

      &::placeholder {
        font-size: 15px;

        @include breakpoint(tablet) {
          font-size: 14px;
        }
      }

      @include breakpoint(tablet) {
        font-size: 18px;
      }

      @include breakpoint(tablet-m) {
        font-size: 16px;
      }
    }

    &__icons {
      gap: 6px;
      margin-left: 8px;
      @extend %flex-align;
    }

    &__userIcon,
    &__emailIcon,
    &__lockIcon {
      margin-right: 16px;
      height: 24px !important;
      width: 24px !important;

      &__verifyIcon {
        z-index: 20;
        height: 15px !important;
        width: 15px !important;
      }

      &__wrapper {
        position: relative;
      }

      &__child {
        position: absolute;
        right: 25%;
        bottom: -25%;
      }
    }

    &__saveIcon,
    &__deleteIcon {
      cursor: pointer;
      height: 18px !important;
      width: 18px !important;
    }

    &__editIcon {
      cursor: pointer;
    }

    &__editIcon,
    &__messageIcon {
      margin-left: 8px;
      height: 24px !important;
      width: 24px !important;

      &__button {
        width: unset;
        padding: unset;
        background: transparent;
        transition: opacity 0.4s ease;

        &__disabled {
          opacity: 0.7;
          cursor: not-allowed !important;
        }
      }
    }

    &__child {
      width: 100%;
      @extend %flex-center;
      flex-direction: column;
    }

    &__title {
      @extend %heading_extra;
      font-size: 20px;
      color: $white;
      cursor: pointer;
      line-break: anywhere;

      @include breakpoint(tablet) {
        font-size: 18px;
      }

      @include breakpoint(tablet-m) {
        font-size: 16px;
      }

      &__wrapper {
        @extend %profile_modal_wrapper;

        @include breakpoint(tablet) {
          max-width: 250px;
        }

        @include breakpoint(tablet-m) {
          max-width: 200px;
        }

        &__edited {
          width: 100%;
          border-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    &__block {
      @extend %flex-center;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
      }

      &__star {
        font-size: 20px;
        color: $white;
        line-break: anywhere;

        &__wrapper {
          @extend %profile_modal_wrapper;

          @include breakpoint(tablet) {
            max-width: 250px;
          }

          @include breakpoint(tablet-m) {
            max-width: 200px;
          }
        }
      }

      &__text {
        @extend %language_sizes;
        color: $white;
        line-break: anywhere;

        @include breakpoint(tablet) {
          font-size: 18px;
        }

        @include breakpoint(tablet-m) {
          font-size: 16px;
        }

        &__wrapper {
          @extend %profile_modal_wrapper;

          @include breakpoint(tablet) {
            max-width: 250px;
          }

          @include breakpoint(tablet-m) {
            max-width: 200px;
          }
        }
      }
    }
  }
}
