.favorites{
 @extend %flex-justify-between;
 flex-direction: column;

  &__backRoute{
   @extend %flex-align;

   &__button{
    @extend %flex-align;
    background: transparent;
    color: $white;
    max-width: 100px;
    @extend %film_name;

    svg {
     width: 48px;

     path {
      fill: $red;
     }
    }
   }
  }

 &__link{
  max-width: 400px;
  width: 100%;

  &_active{
   color: $dark-red;
   animation: roundTransforming;
  }
 }

 &__title{
 @extend %flex-start;
  padding-top: 36px;

  @include breakpoint(mobile){
   padding-top: 28px;
  }

  &__text{
   font-size: 64px;
   line-height: 78px;
   font-weight: 400;

   @include breakpoint(tablet){
    font-size: 32px;
   }
  }
 }

 &__content{
  width: 100%;

  &__wrapper{
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(0, 320px));
   grid-gap: 48px 20px;
   padding: 32px 0 54px;

   @include breakpoint(tablet){
    grid-template-columns: repeat(auto-fit,minmax(0,350px));
    padding-bottom: 46px;
    padding-top: 24px;
   }
   @include breakpoint(mobile){
    grid-template-columns: repeat(auto-fit,minmax(0,288px));
    padding-bottom: 36px;
   }
  }
  &__card{
   min-height: 386px;
  }

 }



 &__pagination{
 width: 100%;
  @extend %flex-center;
  height: 100px;
 }
}