.favorites {
  @extend %flex-justify-between;
  flex-direction: column;

  &__backRoute {
    @extend %flex-align;

    &__button {
      @extend %flex-align;
      background: transparent;
      color: $white;
      max-width: 100px;
      padding: 12px 0;
      @extend %film_name;
      margin-left: -6px;

      svg {
        margin-right: 18px;

        path {
          fill: $red;
        }
      }
    }
  }

  &__title {
    @extend %flex-start;
    padding-top: 24px;

    @include breakpoint(tablet-m) {
      padding-top: 16px;
    }

    &__text {
      font-size: 64px;
      line-height: 78px;
      font-weight: 400;

      @include breakpoint(desktop) {
        font-size: 32px;
      }
    }
  }

  &__content__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(320px, 1fr));
    grid-gap: 32px 20px;
    padding: 32px 0 40px;

    @include breakpoint(wide-l) {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    @include breakpoint(desktop) {
      padding: 24px 0 32px;
      grid-gap: 20px;
    }

    @include breakpoint(tablet-m) {
      padding: 24px 0;
      grid-gap: 16px;
      grid-template-columns: 1fr;
    }
  }

  &__pagination {
    width: 100%;
    @extend %flex-center;
    height: 48px;
  }
}
