.container {
  @extend %border-rad_10;
  @extend %box-shadow;
  background-color: $light-black;
  padding: 16px 28px 16px 24px;
  cursor: pointer;
  border: 1px transparent;
  max-width: 320px;
  width: 100%;
  margin-top: 16px;
  min-height: 80px;
  max-height: 80px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  @include breakpoint(desktop) {
    max-width: 100%;
    padding: 14px 12px 16px 24px;
  }

  @include breakpoint(tablet) {
    padding: 16px 4px 16px 24px;
  }

  &__expand {
    @extend %box-shadow;
    height: calc(100vh - 230px);
    max-height: 416px;
    min-height: 150px;
    transition: all 0.3s ease-in;
  }

  &__header {
    @extend %flex-between;
    width: 100%;

    &__icon {
      height: 48px;
      width: 48px;
      padding: 12px;

      svg {
        path {
          fill: $red;
        }
      }
    }

    &__title {
      @extend %film_name;
    }
  }

  &__content {
    @extend %flex-column;
    width: 100%;
    margin-top: 18px;
    height: 100%;
    z-index: 5;
    padding-right: 24px;
    justify-content: space-between;

    &__child {
      overflow-y: hidden;
      height: 100%;
      margin-bottom: 56px;

      &__animation {
        overflow-y: auto;
        @include custom-scroll;
        @extend %overflow-animation;
      }
    }

    &_open {
      height: 496px;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s;

      @include breakpoint(desktop) {
        height: 100%;
      }
    }

    &__box {
      padding: 13px 16px 13px 0px;
      @extend %search-styling;

      &:not(:first-of-type) {
        margin-top: 16px;
      }
    }
  }
}
