.wrapper {
  position: relative;
  transition:0.2s ease;
  min-width: 145px;
  z-index: 40;

  &__open {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: $dark-red;
  }
}

.container {
  @extend %flex-center;
  padding: 8px 0;
  cursor: pointer;

  &__arrowIcon {
    width: 18px !important;
    height: 18px !important;
    transition: all 0.5s ease;
    margin-right: 3px;

    &__active {
      transform: rotate(180deg);
    }
  }

  &__user {
    font-size: 18px;
    color: $white;
    font-weight: 500;
    padding: 0 5px;
  }

  &__userIcon {
    width: 24px;
    height: 24px;
    margin-left: 3px;

    &__open {

    }
  }
}

.content {
  @extend %flex-align;
  position: absolute;
  top: 100%;
  visibility: hidden;
  background: $black;
  border-radius: 0 0 8px 8px;
  border: 2px solid $dark-red;
  width: 100%;
  box-sizing: border-box;

  &__open {
    visibility: visible;
  }

  &__list {
    list-style: none;
    @extend %flex-center;
    flex-direction: column;
    width: 100%;

    &__icon{
     width: 20px !important;
     height: 20px !important;
      margin-right: 3px;

      &__exit{
      }
    }

    &__wrapper{
      @extend %flex-center;
      justify-content: center;
      padding: 13px 0;

    }

    &__link {
     @extend %film_info_text;
      @extend %flex-center;
      color: $white;
      transition: 0.2s ease;
      transition-property: color,padding-left;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: $red;
        text-decoration: underline;
        text-shadow: -16px 6px 15px $red;
      }
    }
  }
}
