.wrapper {
  position: relative;
  transition:0.2s ease;
  z-index: 40;

  &__open {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    //background: $dark-red;
  }
}

.container {
  @extend %flex-center;
  padding: 8px 0;
  cursor: pointer;

  &__userIcon {
    width: 24px;
    height: 24px;

    &__open {
    }
  }
}

.content {
  @extend %flex-align;
  position: absolute;
  top: 100%;
  right: 0;
  visibility: hidden;
  background: $signin-dropdown-background;
  border-radius: 6px 6px 6px 6px;
  border: 2px solid $white;
  width: 100%;
  box-sizing: border-box;
  min-width: 145px;
  box-shadow: $boxShadow;

  &__open {
    visibility: visible;
  }

  &__list {
    list-style: none;
    @extend %flex-center;
    flex-direction: column;
    width: 100%;

    &__icon{
     width: 20px !important;
     height: 20px !important;
      margin-right: 3px;

      &__exit{
      }
    }

    &__wrapper{
      @extend %flex-center;
      justify-content: center;
      padding: 13px 0;

    }

    &__link {
     @extend %film_info_text;
      @extend %flex-center;
      color: $white;
      transition: 0.2s ease;
      transition-property: color,padding-left;
      text-align: center;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: $black;
        text-decoration: underline;
        text-shadow: -16px 6px 15px $red;
      }
    }
  }
}
